input{
    outline: 0;
    border:1px solid var(--main-color);
    padding: .5rem;
    width: 100%;
    margin: .5rem 0;
    @include prifixerAll(border-radius,5px);
}
textarea{
    outline: 0;
    border:1px solid var(--main-color);
    width: 100%;
    @include prifixerAll(border-radius,5px);
    padding: 1rem;
    line-height: 2;

}
label{
    display: block;
}