<footer class="main-footer text-capitalize">
    <strong>@Localizer["rights"].Value</strong>
     
    <div class="float-right d-none d-sm-inline-block">
        <b> @Localizer["design"].Value</b>  
    </div>
</footer>