<div class="dataTables_length text-capitalize" id="mainTable_length">
    <label class="d-flex  justify-content-center ">
        @Localizer["show"].Value
        <select id="lengthTable" name="mainTable_length" aria-controls="mainTable" class="custom-select mx-1 custom-select-sm form-control form-control-sm">
            <option value="5">5</option>
            <option value="10" selected>10</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1,000</option>
            <option value="10000">10,000</option>
        </select>  @Localizer["records"].Value
    </label>
</div>