<div class="contact-us animate" data-animate="zoomIn">
    <h2>@Localizer["haveanyquestion"].Value</h2>
    <p> @Localizer["questionmessage"].Value  </p>
    <a class="btn-link" asp-page="Clinics-Reservation"  >@Localizer["contactus"].Value</a>
</div>