/*body*/
*[dir="ltr"] {
    font-family: 'Poppins',sans-serif;
    font-size:1.2rem
}

*[dir="rtl"] {
    font-family: 'Amiri',sans-serif;
}

/*body*/
html{
   overflow-x:hidden !important;
}

/*animate*/
.animate{
    visibility:hidden;
    
}
/*animate*/
/*header*/
.rtl .topTitle .top .info .info-container span {
    float: right;
}
.rtl .fa-phone-alt:before {
    content: "\f095";
}
/*end header*/

/*slides*/
.slide-background{
    background-position:center center;
    background-size:cover;
    background-attachment:scroll;
    background-repeat:no-repeat;
    
}
/*./slides*/
.message-error, .text-danger {
    color: red;
}
.message-success{
    color:var(--main-color);
}
.send-btn {
    pointer-events: none;
    background-color: #303030;
}
.contact-container{
    text-transform:capitalize;
}
.pagination-main .active {
    color: #fff;
    background-color: var(--main-color);
 }
.pagination-main span{
    padding : 0 ;
    min-width:2rem;
    padding:.2rem
}
  .rtl .department-info .services i{
      display:inline-block;
  }
.wapper {
    display: block;
}

.content-loader{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:1000;
    background-color:#fff;
    overflow:hidden;
    display:block;
    display:flex;
    align-items:center
}
.loader,
.loader:before,
.loader:after {
    background: var(--main-color);
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: var(--main-color);
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

    .loader:before,
    .loader:after {
        position: absolute;
        top: 50%;
        content: '';
    }

    .loader:before {
        left: -1.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .loader:after {
        left: 1.5em;
    }

@-webkit-keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}


/*pagination*/
 .navivate span.active {
    background-color: var(--main-color);
    color: #fff;
    pointer-events: none;
}