footer{
    background-color:$black-600;
    overflow-x: hidden;
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-transform: capitalize;
        padding: 5rem;
        @include media-breakpoint-down('md'){
            flex-direction: column;
            padding: 0;

        }

        .word{
            flex: 3;
            padding: 2rem;
            h2{
                @extend %header;
            }
            p{
                @extend %text;
             }
            .social{
 a{
     color: var(--main-color);
     font-size: 1.3rem;
     margin: 0 1rem;
     display: inline-block;
 }
            }
        }
        .links{
            flex: 2;
            padding: 2rem;
            margin: 0 2rem;
            @include media-breakpoint-down('md'){
                padding: 0;
    
            }
            h2{
                @extend %header;
            }
             ul{
                 padding: 0 1.2rem;
                a{
                    line-height: 1.9;
                    color: $black-500;
                    i{
                        margin-right:.5rem ;
                    }
                    &:hover{
                        color: var(--main-color);
                    }
                } 
                    
                  
             }
        }
        .contact{
            flex: 1;
            padding: 2rem;
            h2{
                @extend %header;
            }
            div{
                padding: 0 1.2rem;
                color: $black-500;
                line-height: 1.9;
 
            }
        }
    }
.rights{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #000;
    color: $black-500;
    padding: 1.5rem;
    color: var(--main-color);
    text-transform: capitalize;
    @include media-breakpoint-down('sm'){
        flex-direction: column;

    }
}

}


 
.rtl footer{
    .footer-container{
        .links{
            .fa-arrow-right:before {
                content: "\f060";
            }
        }
    }
  }
  .ltr footer{
    .footer-container{
        .links{
            .fa-arrow-right:before {
                content: "\f061";
            }
        }
    }
  }

%header{
font-size: 1.5rem;
color: #fff;
&:hover{
    color: var(--main-color);
}
}
%text{
    line-height: 1.9;
    color: $black-500;
    padding: 0 1.2rem;
    }