$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
// media max
@mixin media-breakpoint-down($breakpoint){
     // Prints a media query based on the value
   @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (max-width:subtractMedial( map-get($breakpoints, $breakpoint)))  {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
 }







// media min
@mixin media-breakpoint-up($breakpoint){
     // Prints a media query based on the value
   @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint))  {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
 }


 
@mixin overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:$z-index-overlay;
    background-color: rgba(#000, 0.5);
}
@mixin HeroImage{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}  
 @mixin prifixerSelect($property,$vale,$prifixes:()) {
    @each $prifixe in $prifixes{
        #{'-' + $prifixe +'-'+ $property}:$vale;
    }
    #{$property}: $vale;
}
@mixin prifixerAll ($property,$vale) {
    $prifixes: moz webkit o ms ;
    @each $prifixe in $prifixes{
        #{'-' + $prifixe +'-'+ $property}:$vale;
    }
    #{$property}: $vale;

}

@mixin beforeHeader {
  &::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 5%;
    height: 2px;
    background-color: var(--main-color);

  }
  
}

@mixin  keyFrame($animationName) {
   

   @-webkit-keyframes #{$animationName}{
    @content

   }
    @-moz-keyframes #{$animationName}{
    @content

   }
   @-o-keyframes #{$animationName}{
    @content

   }
   @keyframes #{$animationName}{
    @content

   }

     
}
