// $mainColor:#d14848;
// $maxMobile:767px;
// $mediasMall: "(max-width:767px)";
$mainColor:#007df2;
$topHeader:#3f3f3f;
$z-index-overlay:100;
$z-index-top-overlay:105;
$z-index-header:110;
$z-index-menu:112;
$z-index-setting-box:115;
$z-index-popup:120;
$black-100:#f5f5f5;
 $black-600:#303030;
$black-500:#737373;
$balck-700:#3f3f3f;

$max-width:'(max-width: 991px)';
  

 
